.picture{
    height:50px;
    min-height:50px;
    width:50px;
    border-radius:30px;
}
.BasDePage {

    padding-top:40px;
    background-color:rgb(112, 169, 198);
    height:140px; 
}

.BasdePage2 {
    margin-left:auto; 
    margin-right:auto;
    color:black;
}

.souligne {
    text-decoration: none;
    color:black;
}

.souligne:hover {
    text-decoration: underline;
}

.BasDePage3 {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
