#faq{
	background-image: url(Images/vianis-frequently-asked-questions.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.question{
	background-color: rgb(112,169,198);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: inline-block;
}

.reponse{
	border-top: 2px groove black;
	margin :  0 100 ;
	word-wrap: break-word;
}
	